<section>
  <h2>Crie a sua própria sala</h2>
  <form action="/create-room" method="POST">
    <label class="sr-only" for="room-pass">Insira uma senha</label>
    <input type="password" name="password" id="room-pass" placeholder="código da sala" />
    <button>
      <img src="/assets/img/grupo.svg" alt="Criar sala" />
      Criar sala
    </button>
  </form>
</section>
